@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie Edited";
}

@model JoelHiltonFilmCollection.Models.Movie

<div>
    <h2>Thank you for editing @Model.Title.</h2>
    @if (Model.Title == "Independence Day")
    {
        @:Unfortunately, "Independence Day" won't show up on the movie list because "Rocky IV" is the "Most American Movie Ever Made".
    }
    else
    {
        @:"@Model.Title" has been updated successfully.
    }
    <p>You can view the list <a asp-controller="Home" asp-action="MovieList">here</a>.</p>
</div>