@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton Film Collection</h1>
    <p>Meet Joel Hilton.</p>
    <img src="~/JoelHilton.jpg" alt="Picture of Joel" width="800"/>
</div>
